.main {

    display: block;
    margin: 0 auto -188px;
    max-width: 960px;

}

/* Bootstrap */
.navbar-brand:hover {
    color: #cccccc!important;
}
.nav-link:hover, .navbar-brand:hover, .nav-link, .navbar-brand {
    transition: .2s;
    -moz-transition: .2s;
    -webkit-transition: .2s;
    -o-transition: .2s;
}